/* background pattern */

body {
    background-image: url(./Photos/full-bloom.png);
}

/* navigation bar & footer color */

.navColor {
    background-color: #011638;
}

#myName {
    font-size: 40px;
}

/* profile image sizing */

.profImg {
    height: 350px;
    width: 340px;
}